@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 a {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.course-preview {
  width: 150px;
  height: 200px;
  background-color: #f4f4f4;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.course-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.6);
}
.course-preview h2 {
  font-size: 20px;
  color: darkgreen;
  margin-bottom: 8px;
  margin-top: 45%;
}
.course-preview p {
  font-size: small;
}
.courses {
  display: flex;
  gap: 50px;
}
.course-type {
  width: auto;
  background-color: khaki;
  float: right;
  font-size: small;
  padding: 3px 5px;
  font-weight: bold;
  margin-top: 6px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.course-preview a {
  text-decoration: none;
}
.course-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.course-details div {
  margin: 20px 0;
}
.course-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.register, .login, .edit-profile, .edit-course, .no-courses, .add-course, .welcome, .no-bookings, .add-review, .edit-review, .no-reviews {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.register label, .login label, .edit-profile label, .edit-course label, .add-course label, .add-review label, .edit-review label {
  text-align: left;
  display: block;
}
.register h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login h2 {
  font-size: 20px;
  color:darkgreen;
  margin-bottom: 30px;
}
.register input, .register select, .login input, .edit-profile input, .edit-course input, .edit-course select, .edit-course textarea,
.add-course input, .add-course select, .add-course textarea, .add-review input, .add-review textarea, 
.edit-review input, .edit-review textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.register button, .view-profile button, #deleteButton, .add-course button, #cancel-button, .add-review button, .edit-review button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.no-courses button, #add-course, .no-bookings button, .no-reviews button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  height: 50px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
}

.login button, #saveButton, #review-button {
  background: darkgreen;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.center-button-container {
  text-align: center;
}

#deleteButton, .left-navbar {
  float: left;
}

#saveButton, .right-navbar {
  float: right;
}

.left-navbar {
  width: 50%;
}

.right-navbar {
  width: 50%;
  display: flex;
  justify-content: end;
}

.booking-preview, .review-preview {
  display: flex;
  align-items: center;
}

.booking-left {
  width: 80%;
  padding-left: 20px;
}

.review-left {
  width: 90%;
  padding-left: 20px;
}

.booking-left h3 {
  color: darkgreen;
  font-weight: bold;
}

.review-left h3 {
  color: darkgreen;
  font-weight: bold;
  padding-bottom: 10px;
}

.booking-left p {
  color: darkgreen;
}

.booking-right {
  width: 20%;
  padding-left: 20px;
}

.review-right {
  width: 10%;
  display: block;
}

.review-right-student {
  padding-top: 50px;
}

.booking-right button, .review-right button {
  float: right;
  margin: 5px;
}

.welcome button {
  background: darkgreen;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-courses {
  margin-bottom: 50px;
  margin-top: 20px;
}

.search-courses {
  float: left;
}

.search-courses-filter {
  float: right;
}

.search-courses-filter select, .search-courses input {
  margin-right: 8px;
}

.booking-preview {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.review-preview {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.booking-preview button {
  float: right;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  width: 70%;
  background-color: #f1356d;
}

.score {
  padding: 8px;
  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.review-desc {
  font-style: italic;
}

.review-student {
  position: relative;
  float: right;
  font-weight: bold;
  color: darkgreen;
}

/* Add this to your CSS file or in the head of your HTML document */

.view-profile {
  align-items: center;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.profile-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container p {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.profile-container button {
  margin: 10px;
}

button:hover {
  background-color: darkred;
}

.profile-label {
  font-weight: bold;
}

.register-button {
  background-color: #f1356d !important;
}

.search-courses input, .search-courses-filter select {
  padding-left: 8px;
  height: 25px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid lightgrey;
}

