@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.course-preview {
  width: 150px;
  height: 200px;
  background-color:whitesmoke;
  border: 2px solid #f1356d;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
}
.course-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.course-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.course-preview p {
  font-size: small;
}
.courses {
  display: flex;
  gap: 50px;
}
.course-type {
  width: 100px;
  background-color:khaki;
  float: right;
  font-size: small;
  margin-bottom: 17px;
}
.course-preview a {
  text-decoration: none;
}
.course-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.course-details div {
  margin: 20px 0;
}
.course-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.register, .login, .edit-profile, .edit-course, .no-courses, .add-course, .welcome {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.register label, .login label, .edit-profile label, .edit-course label, .add-course label {
  text-align: left;
  display: block;
}
.register h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login h2 {
  font-size: 20px;
  color:darkgreen;
  margin-bottom: 30px;
}
.register input, .register select, .login input, .edit-profile input, .edit-course input, .edit-course select, .edit-course textarea,
.add-course input, .add-course select, .add-course textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.register button, .view-profile button, #deleteButton, .add-course button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.no-courses button, #add-course {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  height: 50px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
}

.login button, #saveButton {
  background: darkgreen;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.center-button-container {
  text-align: center;
}

#deleteButton {
  float: left;
}

#saveButton {
  float: right;
}

.welcome button {
  background: darkgreen;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-courses {
  margin-bottom: 50px;
  margin-top: 20px;
}

.search-courses {
  float: left;
}

.search-courses-filter {
  float: right;
}

.search-courses-filter select, .search-courses input {
  margin-right: 8px;
}